body                         {font-size:0.8em; background-color:#FFFFFF;}
body,td                      {FONT:x-small Verdana;}
body,table,tr,th,td,span,div {font-family:Verdana;}
table                        {font-size:1em; border:1px solid #1F1F1F; border-collapse:collapse;}
td,th                        {border:1px solid #1F1F1F; padding:1px 5px 1px 5px;}
tr,td                        {margin:5px;}
th                           {background:#CCEEFF; color:#000080; text-align:left;}

a       {color:#333399; text-decoration:none;}
a:hover {background-color:#DDDDDD;}

h1 {font-size:1.7em; color:#444444; border:2px solid #FFCC00; background-color:#FFF7EE; padding:2px 5px;}
h3 {color:#333399; border:2px solid #FFCC00; background-color:#FFF7EE; padding:2px 5px;}
h4 {background-color:#000000; color:#FFFFFF; padding:2px 6px;}
h5 {background-color:#D0E8E8; margin-bottom:5pt; font-size:1em;}

.head           {font-size:110%; background-color:#D0E8E8;}
.tmenu a        {color:#333399; white-space:nowrap;}
.tmenu a:hover  {background-color:#F0F0F0;}
.tmenu td       {border-width:0; text-align:center; font-size:xx-small; font-weight:bold; color:white;}
table.tmenu     {border-width:0;}
a.tmenu         {white-space:nowrap;}

cite            {color:#333399; font:menu;}
code            {font-size:x-small; font-family:Courier New; color:#000080; font-weight:bold;}
dfn             {color:#990099; font-weight:bold;}
em              {background-color:#F0FFF0;}
i               {font-weight:normal;}
pre             {font-size:x-small; background-color:#F0FFFF;}
sup             {color:red; font-family:MS Sans Serif; font-weight:bold;}
tt              {font-family:Courier New;}
var             {color:#333399; font-weight:bold; white-space:nowrap;}

div.highlighted {background:#F7FCF7; border:1px solid #C0D7C0; margin:0.3em 3em; padding:0.3em 0.6em;}
div.example     {background:#F7FCF7; border:1px solid #C0D7C0; margin:0.3em 3em; padding:0.3em 0.6em; font-family:Courier New; color:#333399;}
span.example    {background:#F7FCF7; font-family:Courier New; color:#333399;}

.author         {text-align:right; font-size:80%}
.cursor         {color:red;}
.desc           {color:#333399; font-size:0.8em;}
.example        {color:#00A000; font-weight:bold;}
.name           {font-family:Courier; color:#993300;}
.noborder       {border:none;}
.ref            {color:#80C;}
.windowsonly    {background:#E7EFFF;}
.gtkonly        {background:#FFFFE7;}
.osxonly        {background:#FFE7E7;}
.windows-osx    {background:#FFF3FF;}
.ruboardonly    {background:#FFECFF;}

.S0   {color:#808080;}
.S1   {font-family:Comic Sans MS; color:#007F00;}
.S2   {font-family:Comic Sans MS; color:#007F00;}
.S2   {font-family:Comic Sans MS; color:#007F00;}
.S3   {font-family:Comic Sans MS; color:#3F703F;}
.S4   {color:#007F7F;}
.S5   {font-weight:bold; color:#00007F;}
.S6   {color:#7F007F;}
.S7   {color:#7F007F;}
.S8   {color:#804080;}
.S9   {color:#7F7F00;}
.S10  {font-weight:bold; color:#000000;}
.S12  {font-family:Courier New; color:#000000; background:#E0C0E0;}
.S13  {font-family:Courier New; color:#007F00; background:#E0FFE0;}
.S14  {font-family:Courier New; color:#3F7F3F; background:#E0F0FF;}
.S15  {font-family:Comic Sans MS; color:#3F703F;}
.S100 {color:blue;}
